<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h1 id="abt">About</h1></a>
</nav>
<div class="jumbotron">
<p>
      PHARMA-Z is an offline medical dictionary that helps the medical students to search 
      and get information about several medicines, their brands and much more. It is useful 
      for medical students for their researches and projects to know about certain drugs, 
      their composition and usage for certain diseases The app can be used by anyone seeking 
      medical information, which can include doctors, pharmacists, medical reps, 
      medical students, patients, general public or anyone curious about medicines.
      
  </p>
  <a [routerLink]="['/home']">Back To Home</a>
</div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    </nav>